aniso8601==8.0.0
astroid==2.3.3
autopep8==1.5.4
certifi==2020.6.20
click==7.1.2
cycler==0.10.0
emoji==0.5.4
Flask==1.1.2
Flask-Cors==3.0.9
Flask-RESTful==0.3.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
numpy==1.18.2
pandas==1.0.3
Pillow==8.0.1
pycodestyle==2.6.0
pylint==2.4.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
toml==0.10.2
Werkzeug==1.0.1
wrapt==1.11.2
