.page {
    display: block;
    margin: auto;
    width: 80%;
}

#nav-bar {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #333;
}

#nav-bar li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    flex-grow: 1;
}

#nav-bar li:hover:not(.active) {
    background-color: #111;
}

#nav-bar .active {
    background-color: #1982fc;
}

.contact-list {
    padding: 0;
}

.x-btn {
    float: right;
    padding: 5px 20px;
}

.contact {
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: white;
    cursor: pointer;
}

.group-chat-name {
    display: inline-block;
    padding: 5px 20px;
}

.contact-name {
    display: inline-block;
    padding: 5px 20px;
    width: 20%;
}

.contact-number {
    display: inline-block;
    color: gray;
    padding: 5px 20px;
}

.contacts-section-header {
    display: block;
}

.contacts-section-header h3 {
    display: inline-block;
    margin-bottom: 0;
}

.contacts-section-header p {
    float: right;
    margin-bottom: 0;
    cursor: pointer;
}

.modal {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    padding: 15px;
    border: 1px solid black;
    border-radius: 25px;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
}

.modal-input {
    margin-bottom: 20px !important;
}

.loading-gif {
    width: 200px;
    margin: 100px auto;
}

.btn {
    background-color: #1982fc;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.center-btn {
    background-color: #1982fc;
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.btn:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

.center-btn:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

.center-content {
    text-align: center;
    margin: auto;
    max-width: 60%;
}

.input-div {
    text-align: left;
}

.input-div h2 {
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

.input-div p {
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

.select {
    padding: 6px;
    vertical-align: middle;
    font-size: 16px;
}

.checkbox {
    vertical-align: sub;
}

.radio {
    vertical-align: text-top;
    margin-left: 20px;
}

.analysis-table table {
    margin: auto;
    margin-top: 25px;
}

.center-img {
    display: block;
    margin: auto;
}

.date-input {
    display: inline-block;
    margin-left: 20px;
}
