.page {
    display: block;
    margin: auto;
    width: 80%;
}

#nav-bar {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #333;
}

#nav-bar li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    flex-grow: 1;
}

#nav-bar li:hover:not(.active) {
    background-color: #111;
}

#nav-bar .active {
    background-color: #1982fc;
}

.contact-list {
    padding: 0;
}

.x-btn {
    float: right;
    padding: 5px 20px;
}

.contact {
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.contact-name {
    display: inline-block;
    padding: 5px 20px;
}

.contact-number {
    display: inline-block;
    color: gray;
    padding: 5px 20px;
}

.contacts-section-header {
    display: block;
}

.contacts-section-header h3 {
    display: inline-block;
    margin-bottom: 0;
}

.contacts-section-header p {
    float: right;
    margin-bottom: 0;
    cursor: pointer;
}
